/* Reset */
html {
  scrollbar-gutter: stable;
}
.dark {
  color-scheme: dark;
}
.dark ::-moz-selection  {
  background: #444;
}
.dark ::selection {
  background: #444;
}

/* primevue additions */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap');

body {
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Display', sans-serif;
}

.p-input-icon-left > i,
.p-input-icon-right > i {
  margin-top: -12px!important;
}

.p-input-icon-left > .p-inputtext {
    padding-left: calc(1.25rem + 24px);
}

.p-input-icon-right > .p-inputtext {
    padding-right: calc(1.25rem + 24px);
}
