@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap'); /* Reset */

.dark {
  color-scheme: dark;
}

html, body {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

/* primevue additions */
body {
  color: var(--text-color);
  font-family: 'Red Hat Text', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Display', sans-serif;
}

.p-input-icon-left > i,
.p-input-icon-right > i {
  margin-top: -12px !important;
}

.p-input-icon-left > .p-inputtext {
  padding-left: calc(1.25rem + 24px);
}

.p-input-icon-right > .p-inputtext {
  padding-right: calc(1.25rem + 24px);
}

.p-toast .p-toast-message .p-toast-message-content {
  border-width: 0 !important;
}

.p-toast .p-toast-message,
.p-message {
  border: 0 none !important;
}

.p-toast-message-icon {
  height: 1em !important;
}

.p-card {
  box-shadow: 0 0 1px -1px rgba(0, 0, 0, .2), 0 0 1px 0 rgba(0, 0, 0, .14), 0 0 3px 0 rgba(0, 0, 0, .12) !important;
}

.p-datatable .p-datatable-tbody > tr:last-child > td {
  border: none;
}

.p-contextmenu {
  min-width: 15rem;
  max-width: 30rem;
  width: auto;
  padding: .5rem 0;
}

.p-contextmenu .p-menuitem-separator {
  margin: .5rem 0;
}

input:focus::placeholder {
  color: transparent;
}

.large-icon {
  width: 2em;
  height: 2em;
}


.p-toast .p-toast-message:has(.delete-toast) {
  border-radius: 100em;
}

.delete-toast .p-toast-icon-close {
  display: none;
}
